<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>#{title}</title>
    style
        include ../static/about.css
</head>
<body>

    <nav >
        <ul>
            <li class="it"><a href="/">Home</a></li>
            <li class="it"><a href="/about">About</a></li>
            <li class="it"><a href="/suggestion">Suggestion</a></li>
            <li class="it"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <section class="mst">
        <div class="left">
            <div id="pyar"> प्यार (बनारस)</div>
        </div>

        <div class="right">
            <p id="dekh">गंगा तट पर बसी काशी बड़ी पुरानी नगरी है। इतने प्राचीन नगर संसार में बहुत नहीं हैं। हजारों वर्ष पूर्व कुछ नाटे कद के साँवले लोगों ने इस नगर की नींव डाली थी। 
                | तभी यहाँ कपड़े और चाँदी का व्यापार शुरू हुआ। कुछ समय उपरांत पश्चिम से आये ऊँचे कद के गोरे लोगों ने उनकी नगरी छीन ली। ये बड़े लड़ाकू थे,
                | उनके घर-द्वार न थे, न ही अचल संपत्ति थी। वे अपने को आर्य यानि श्रेष्ठ व महान कहते थे। आर्यों की अपनी जातियाँ थीं, अपने कुल घराने थे। उनका एक राजघराना तब काशी में 
                | भी आ जमा। काशी के पास ही अयोध्या में भी तभी उनका राजकुल बसा। उसे राजा इक्ष्वाकु का कुल कहते थे, यानि सूर्यवंश। 
                | काशी में चन्द्र वंश की स्थापना हुई। सैकड़ों वर्ष काशी नगर पर भरत राजकुल के चन्द्रवंशी राजा राज करते रहे। काशी तब आर्यों के पूर्वी नगरों में से थी, पूर्व में उनके राज की सीमा। 
                | उससे परे पूर्व का देश अपवित्र माना जाता था।</p>

            <p id="dekh">महाभारत काल में काशी भारत के समृद्ध जनपदों में से एक था। महाभारत में वर्णित एक कथा के अनुसार एक स्वयंवर में पाण्डवों और कौरवों के पितामह भीष्म ने काशी नरेश
                | की तीन पुत्रियों अंबा, अंबिका और अंबालिका का अपहरण किया था। इस अपहरण के परिणामस्वरूप काशी और हस्तिनापुर की शत्रुता हो गई। कर्ण ने भी दुर्योधन के लिये काशी 
                | राजकुमारी का बलपूर्वक अपहरण किया था, जिस कारण काशी नरेश महाभारत के युद्ध में पाण्डवों की तरफ से लड़े थे। कालांतर में गंगा की बाढ़ ने हस्तिनापुर को डुबा दिया, तब
                | पाण्डवों के वंशज वर्तमान इलाहाबाद जिले में यमुना किनारे कौशाम्बी में नई राजधानी बनाकर बस गए। उनका राज्य वत्स कहलाया और काशी पर वत्स का अधिकार हो गया।</p>

            <p id="dekh">इसके बाद ब्रह्मदत्त नाम के राजकुल का काशी पर अधिकार हुआ। उस कुल में बड़े पंडित शासक हुए और में ज्ञान और पंडिताई ब्राह्मणों से क्षत्रियों के पास पहुंच गई थी। 
                | इनके समकालीन पंजाब में कैकेय राजकुल में राजा अश्वपति था। तभी गंगा-यमुना के दोआब में राज करने वाले पांचालों में राजा प्रवहण जैबलि ने भी अपने ज्ञान का डंका बजाया था। 
                | इसी काल में जनकपुर, मिथिला में विदेहों के शासक जनक हुए, जिनके दरबार में याज्ञवल्क्य जैसे ज्ञानी महर्षि और गार्गी जैसी पंडिता नारियां शास्त्रार्थ करती थीं। इनके समकालीन काशी 
                | राज्य का राजा अजातशत्रु हुआ।[31] ये आत्मा और परमात्मा के ज्ञान में अनुपम था। ब्रह्म और जीवन के सम्बन्ध पर, जन्म और मृत्यु पर, लोक-परलोक पर तब देश में विचार हो रहे थे।
                |  इन विचारों को उपनिषद् कहते हैं। इसी से यह काल भी उपनिषद-काल कहलाता है।</p>
        </div>
    </section>


    <h1><p id="p1">गंगा तरंग रमणीय जातकलापनाम, गौरी निरन्तर विभूषित वामभागम.<br>
        | नारायणप्रियम अनंग मदापहारम, वाराणसीपुर पतिम भज विश्वनाथम<br>
        | वाराणसीति विख्यातां तन्मान निगदामि व: दक्षिणोत्तरयोर्नघोर्वरणासिश्च पूर्वत।<br>
        | जाऋवी पश्चिमेऽत्रापि पाशपाणिर्गणेश्वर:।
        | वाराणस्यां नदी पु सिद्धगन्धर्वसेविता।<br>
        | प्रविष्टा त्रिपथा गंगा तस्मिन् क्षेत्रे मम प्रिये॥
        | वरणा च नदी यावद्यावच्छुष्कनदी तथा।<br>
        | भीष्मयंडीकमारम्भ पर्वतेश्वरमन्ति के॥</p></h1>

    <hr id="hor" width="100%" style="border: 3px dashed #C0C0C0" color="#FFFFFF" size="1">





    <center>
    <h2 id="btao">1) The Ghats</h2>
    <p id="ppe">The Ganga ghats are theriverfront steps leading to the banks of the river.
        | There are 5 major ghats which run parallel to the city main road and all are connected.</p>
    <div class="sup">
        <p id="mk"></p>
    </div>

    <h2 id="btao">2) Closest to ancient India</h2>
    <p id="ppe">I may not have seen the entire India but to me Varanasi was very close to a country which was earlier known for its sadhus and snake charmers.
        | The place has that charm which made me feel as if I have traveled back in time.</p>
    <div class="supe">
        <p id="mk"></p>
    </div>

    <h2 id="btao">3) The People</h2>
    <p id="ppe">The biggest avenues of travelling solo is that you get to meet interesting people. I visited during
        | a festival and chose to stay in a hostel where I met a lot of awesome people who were open for socializing as if I already know them.</p>
    <div class="super">
        <p id="mk"></p>
    </div>
    </center>





    <div id="iv">
        <a href= "https://www.instagram.com/explore/tags/varanasi/?hl=en" class="fa fa-instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://twitter.com/hashtag/varanasi?lang=en" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://www.youtube.com/watch?v=srxbs9bmbeQ" class="fa fa-youtube"></a>
    </div>


    <footer class="f1">Desinged By &hearts; Ankit Upadhyay</footer>

</body>
</html>