<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>#{title}</title>
    style
        include ../static/con.css
</head>
<body>

    <nav >
        <ul>
            <li class="it"><a href="/">Home</a></li>
            <li class="it"><a href="/about">About</a></li>
            <li class="it"><a href="/suggestion">Suggestion</a></li>
            <li class="it"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <p id="kl">Even the ghats are full of colorful paintings, lights, lamps and people with colorful attires.</p>
   
    <div class="div1">
        
    </div>

    

    <section>
    <h1 id="header">Contact Us</h1>

    <center>
        <form action="/contact" method="post" id = 'f1'>
            <input type="text" name="name" placeholder="Enter Your Name" id="na">
            <input type="text" name="age" placeholder="Enter Your Age" id="ag">
            <input type="text" name="email" placeholder="Enter Your Email" id="ag">
            <textarea name="more" id="mor" cols="121" rows="20" placeholder="Enter your Address"></textarea>

            <button class="for1" id="sub">Submit</button>
        </form>
    </center>
        
    </section>




    <div id="iv">
        <a href= "https://www.instagram.com/explore/tags/varanasi/?hl=en" class="fa fa-instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://twitter.com/hashtag/varanasi?lang=en" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://www.youtube.com/watch?v=srxbs9bmbeQ" class="fa fa-youtube"></a>
    </div>


    <footer class="f1">Desinged By &hearts; Ankit Upadhyay</footer>

</body>
</html>