<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>#{title}</title>
    style
        include ../static/main.css
</head>
<body>

    <nav >
        <ul>
            <li class="it"><a href="/">Home</a></li>
            <li class="it"><a href="/about">About</a></li>
            <li class="it"><a href="/suggestion">Suggestion</a></li>
            <li class="it"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="div1">
        <p id="p1">|वाराणसी प्यार (बनारस)|</p>
    </div>

    
    <div class="di">
        <h2 id="para">नागा साधु, वाराणसी</h2>
        <p id="par">नागा साधु हिन्दू धर्मावलम्बी साधु हैं जो कि नग्न रहने <br>तथा युद्ध कला में माहिर होने के लिये प्रसिद्ध हैं।<br>
            | ये विभिन्न अखाड़ों में रहते हैं <br>जिनकी परम्परा आदिगुरु शंकराचार्य द्वारा की गयी थी।</p>
    </div>


    <div class="div2">
        <p id="p2">हम वाराणसी को काशी क्यों कहते है ?</p>
        <p id="p3">काशी नगरी वर्तमान वाराणसी शहर में स्थित पौराणिक नगरी है। इसे संसार के सबसे पुरानी नगरों में माना जाता है। भारत की यह जगत्प्रसिद्ध प्राचीन नगरी 
            | गंगा के वाम (उत्तर) तट पर उत्तर प्रदेश के दक्षिण-पूर्वी कोने में वरुणा और असी नदियों के गंगासंगमों के बीच बसी हुई है। इस स्थान पर गंगा ने प्राय: चार मील का 
            | दक्षिण से उत्तर की ओर घुमाव लिया है और इसी घुमाव के ऊपर इस नगरी की स्थिति है। इस नगर का प्राचीन 'वाराणसी' नाम लोकोच्चारण से 'बनारस' हो गया था 
            | जिसे उत्तर प्रदेश सरकार ने शासकीय रूप से पूर्ववत् 'वाराणसी' कर दिया है।</p>
    </div>

    //- <center>
    //- <div class="vido">
    //-     <video width="900px" height="540" controls>
    //-         <source src="./static/TV.mp4" type="video/mp4">
    //-     </video>
    //- </div>
    //- </center>

    <h1 id="head">वाराणसी क्यों प्रसिद्ध है ?</h1>

    <section class="sectio">
        <div class="div3">
            <p id="para">काशी विश्वनाथ मन्दिर, वाराणसी</p>
        </div>

        <div class="div4">
            <p id="para">दशाश्‍वमेध घाट, वाराणसी</p>
        </div>

        <div class="div7">
            <p id="para">बनारसी पान, वाराणसी</p>
        </div>

        <div class="div8">
            <p id="para">विदेशी सैलानी, वाराणसी</p>
        </div>

        <div class="div5">
            <p id="para">संकट मोचन हनुमान मंदिर, वाराणसी</p>
        </div>

        <div class="div6">
            <p id="para">अस्सी घाट, वाराणसी</p>
        </div>



        //- <div class="div9">
        //-     <p id="para">पर्यटक,बनारसी कचौरी वाराणसी</p>
        //- </div>

        //- <div class="div10">
        //-     <p id="para">सारनाथ, बौद्ध तीर्थस्थल, वाराणसी</p>
        //- </div>
    </section>
    

    <div id="iv">
        <a href= "https://www.instagram.com/explore/tags/varanasi/?hl=en" class="fa fa-instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://twitter.com/hashtag/varanasi?lang=en" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://www.youtube.com/watch?v=srxbs9bmbeQ" class="fa fa-youtube"></a>
    </div>


    <footer class="f1">Desinged By &hearts; Ankit Upadhyay</footer>

</body>
</html>