<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>#{title}</title>
    style
        include ../static/sug.css
</head>
<body>

    <nav >
        <ul>
            <li class="it"><a href="/">Home</a></li>
            <li class="it"><a href="/about">About</a></li>
            <li class="it"><a href="/suggestion">Suggestion</a></li>
            <li class="it"><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="div1">
        
    </div>

    <p id="kl">The Ganga ghats are the riverfront steps leading to the banks of the river. 
        | There are 5 major ghats which run parallel to the city main road and all are connected.
        |The ghats are undoubtedly the most peaceful and refreshing place to be at, all day all night.
        | You just have to keep walking with a camera in your hand and a lot to capture.</p>


    <p>बनारस के बारे में विचार </p>

        <center>
        <form action="/suggestion" method="post" id = 'f1'>
            <input type="text" name="name" placeholder="Your Name" id="na">
            <input type="text" name="email" placeholder="Your Email" id="ag">
            <input type="tel" name="phone" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{3}" required id="ag">
            <textarea name="more" id="mor" cols="121" rows="20" placeholder="Drop Your Suggestion Here"></textarea>

            <button class="for1" id="sub">Send</button>
        </form>
        </center>


    <div class="divi">

    </div>

    <p id="kl">The boat ride in Varanasi should be called a 'joy ride' in its true sense. One can experience the activities happening at the ghats in the
        | calm waters of ganga from the other side of the ghats.The boat ride to me was actually the high point of the trip since I got to 
        | witness the great Dev Deepawali festival from the boat although reaching to the boat in that crowd and chaos was a task in itself 
        | but the sight of thousands of oil lamps lighting the ghats was totally worth it.</p>


    <div id="iv">
        <a href= "https://www.instagram.com/explore/tags/varanasi/?hl=en" class="fa fa-instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://twitter.com/hashtag/varanasi?lang=en" class="fa fa-twitter"></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href= "https://www.youtube.com/watch?v=srxbs9bmbeQ" class="fa fa-youtube"></a>
    </div>


    <footer class="f1">Desinged By &hearts; Ankit Upadhyay</footer>

</body>
</html>